/* Hero Content */
.homePageContainer{
    padding: 100px 0;
    padding-bottom: 150px;
    width: 100%;
    min-height: 60vh;
    background-color: #F7F7F7;
}
.homePageContainer .container{
    margin: 0 auto;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}
.homePageContainer .container .heroDetails{
    max-width: 700px;
}
.homePageContainer .container .heroDetails .title{
    max-width: 500px;
    font-size: 3rem;
    font-weight: bold;
    color: #ffff;
}
.homePageContainer .container .heroDetails .description{
    margin-top: 30px;
    font-size: 1.1rem;
    font-weight: 400;
    color: #9A9A9A;
}
.homePageContainer .container .heroDetails button{
    margin-top: 30px;
    padding: 12px 40px;
    background: #3772FF;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}  
.homePageContainer .container .heroDetails button a{
    color: #ffff;
    font-size: 1rem;
    text-decoration: none;
}
.homePageContainer .container .heroDetails .gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0.6em;
    margin-top: -0.25em;
} 
.homePageContainer .container .heroDetails .label{
    position: relative;
    top: -1px;
}
.homePageContainer .container .heroDetails .transition{
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 500ms;
    background-color: rgba(16, 185, 129, 0.6);
    border-radius: 9999px;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} 
.homePageContainer .container .heroDetails button:hover .transition{
    width: 14em;
    height: 14em;
}
.homePageContainer .container .heroDetails button:active{
    transform: scale(0.97);
}
/* Hero Image */
.homePageContainer .container img{
    height: 450px;
    width: auto;
}

/* Card Content */
.cardMainContainer{
    width: 100%;
    padding-bottom: 30px;
}
.cardContainer{
    position: relative;
    top: -70px;
    margin: 0 auto;
    margin-top: -70px;
    min-height: 280px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #ffff;
}
.cardContainer .contentBox{
    margin: 0 auto;
    width: 95%;
    min-height: 280px;
}
.cardContainer .contentBox .top{
    padding: 20px 0;
    min-height: 30px;
    width: 100%;
    border-bottom: 1px solid #d4d4d4;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.cardContainer .contentBox .top .category{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #252831;
    border-radius: 20px;
    font-size: 1rem;
    height: 30px;
    padding: 0 20px;
    font-weight: 600;
}
.cardContainer .contentBox .top .category:hover{
    cursor: pointer;
}
.cardContainer .contentBox .top .categoryActive{
    background-color: #3772FF;
    color: #ffff !important;
}
.cardContainer .contentBox .bottom{
    padding: 15px 0;
    width: 100%;
    min-height: 180px;
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.cardContainer .contentBox .bottom .box{
    height: 160px;
    width: 190px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cardContainer .contentBox .bottom .box .label{
    display: flex;
    align-items: center;
}
.cardContainer .contentBox .bottom .box .label img{
    height: 25px;
    width: auto;
    margin-right: 10px;
}
.cardContainer .contentBox .bottom .box .label p{
    color: #252831;
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cardContainer .contentBox .bottom .box .label p span{
    font-size: .9rem;
    margin-left: 5px;
    color: #8d8c8c;
}
.cardContainer .contentBox .bottom .box .totalPrice{
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 600;
}
.cardContainer .contentBox .bottom .box .subDetails{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
}
.cardContainer .contentBox .bottom .box .subDetails span{
    font-size: 1rem;
    color: #8d8c8c;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cardContainer .contentBox .bottom .box .subDetails .percentage{
    font-size: .8rem;
    font-weight: 600;
    color: #ffff;
    border-radius: 5px;
    background-color: #58bd7d;
    padding: 3px 10px;
}

/* Market Content - top 10 */
.marketMainContent .marketContent{
    margin: 0 auto;
    padding-bottom: 80px;
}
.marketMainContent .marketContent .headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.marketMainContent .marketContent .headerContainer .title{
    font-size: 2.5rem;
    font-weight: 600;
}
.marketMainContent .marketContent .headerContainer .seeAll{
    font-size: 1rem;
    font-weight: 600;
    transition: .3s;
    text-decoration: underline;
}
.marketMainContent .marketContent .headerContainer .seeAll:hover{
    color: #3772FF !important;
    cursor: pointer;
    white-space: nowrap;
}
.marketMainContent .marketContent .tableHeader{
    margin-top: 15px;
    width: 100%;
    border-bottom: 2px solid #b1b1b1;
    display: flex;
    align-items: center;
}
.marketMainContent .marketContent .tableHeader .col{
    display: flex;
    align-items: center;
    padding: 15px 20px;
}
.marketMainContent .marketContent .tableHeader .col span{
    font-size: 1.2rem;
    font-weight: 600;
    color: #777e91;
}
.marketMainContent .marketContent .tableHeader .col1{
    width: calc(5% - 40px);
}
.marketMainContent .marketContent .tableHeader .col2{
    width: calc(5% - 40px);
}
.marketMainContent .marketContent .tableHeader .col3{
    width: calc(25% - 40px);
}
.marketMainContent .marketContent .tableHeader .col4{
    width: calc(15% - 40px);
}
.marketMainContent .marketContent .tableHeader .col5{
    width: calc(10% - 40px);
}
.marketMainContent .marketContent .tableHeader .col5 span{
    white-space: nowrap;
}
.marketMainContent .marketContent .tableHeader .col6{
    width: calc(25% - 40px);
}
.marketMainContent .marketContent .tableHeader .col7{
    width: calc(15% - 40px);
}

.marketMainContent .marketContent .tableBody{
    width: 100%;
}
.marketMainContent .marketContent .tableBody .row{
    display: flex;
    width: 100%;
    border-bottom: 1px solid #d4d4d4;
    min-height: 80px;
}
.marketMainContent .marketContent .tableBody .row .col{
    display: flex;
    align-items: center;
    padding: 15px 20px;
}
.marketMainContent .marketContent .tableBody .row .col span{
    font-size: 1.2rem;
    font-weight: 600;
    color: #252831;
}
.marketMainContent .marketContent .tableBody .row .col1{
    width: calc(5% - 40px);
}
.marketMainContent .marketContent .tableBody .row .col2{
    width: calc(5% - 40px);
}
.marketMainContent .marketContent .tableBody .row .col3{
    width: calc(25% - 40px);
}
.marketMainContent .marketContent .tableBody .row .col3 .nameDetails{
    display: flex;
    align-items: center;
}
.marketMainContent .marketContent .tableBody .row .col3 .nameDetails img{
    height: 25px;
    margin-right: 10px;
}
.marketMainContent .marketContent .tableBody .row .col3 .nameDetails p{
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}
.marketMainContent .marketContent .tableBody .row .col3 .nameDetails p span{
    font-weight: 500;
    color: #949393;
    font-size: 1rem;
    text-transform: uppercase;
}
.marketMainContent .marketContent .tableBody .row .col4{
    width: calc(15% - 40px);
}
.marketMainContent .marketContent .tableBody .row .col5{
    width: calc(10% - 40px);
}
.marketMainContent .marketContent .tableBody .row .col5 span{
    color: #58bd7d;
    font-weight: 400;
}
.marketMainContent .marketContent .tableBody .row .col5 .low24{
    color: #d33535;
}
.marketMainContent .marketContent .tableBody .row .col5 .high24{
    color: #58bd7d;
}
.marketMainContent .marketContent .tableBody .row .col6{
    width: calc(25% - 40px);
}
.marketMainContent .marketContent .tableBody .row .col7{
    width: calc(15% - 40px);
}
.marketMainContent .marketContent .tableBody .row .col1 .favoriteIcon{
    display: none;
}
.marketMainContent .marketContent .tableBody .row .col1 label svg {
    width: 23px;
    height: 23px;
    fill: none;
    stroke: #a1a1a1;
    stroke-width: 1.3px;
    cursor: pointer;
}
.marketMainContent .marketContent .tableBody .row .col1 .favoriteIcon:checked + label svg {
    fill: #FFC107;
    stroke: #FFC107;
    animation: pop_42 0.5s ease-out;
}
@keyframes pop_42 {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}
 

/* How It Works Container */
.howItWorksMainContainer{
    padding: 70px 0;
}
.howItWorksMainContainer .howItWorksContent{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.howItWorksMainContainer .howItWorksContent .title{
    margin: 0 20px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
}
.howItWorksMainContainer .howItWorksContent .description{
    font-weight: 400;
    max-width: 500px;
    margin: 10px 20px 0;
    text-align: center;
    font-size: 1.2rem;
    color: #949393;
}
.howItWorksMainContainer .howItWorksContent .stepsContainer{
    margin-top: 55px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.howItWorksMainContainer .howItWorksContent .stepsContainer .box{
    width: 20%;
    min-width: 210px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.howItWorksMainContainer .howItWorksContent .stepsContainer .box img{
    height: 60px;
}
.howItWorksMainContainer .howItWorksContent .stepsContainer .box span{
    margin: 20px 20px 0;
    font-size: .8rem;
    font-weight: 500;
    color: #949393;
    text-align: center;
}
.howItWorksMainContainer .howItWorksContent .stepsContainer .box .stepTitle{
    margin: 10px 20px 0;
    font-size: 1.3rem;
    font-weight: 600;
    text-align: center;
}
.howItWorksMainContainer .howItWorksContent .stepsContainer .box .details{
    margin: 10px 20px 0;
    font-size: 1rem;
    font-weight: 400;
    color: #949393;
    text-align: center;
}
.howItWorksMainContainer .howItWorksContent .stepsContainer .divider{
    color: #949393;
    font-size: 1rem;
    font-weight: 600;
    white-space: nowrap;
}

/* What is Coinsavvy Container */
.whatIsCoinsavvyContainer{
    padding: 70px 0;
}
.whatIsCoinsavvyContainer .whatIsCoinsavvyContent{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.whatIsCoinsavvyContainer .whatIsCoinsavvyContent .sliderContainer{
    height: auto;
    max-width: 700px;
    min-width: 500px;
    width: 47%;
}
.whatIsCoinsavvyContainer .whatIsCoinsavvyContent .sliderContainer .swiper {
    width: 100%;
    height: 100%;
}
.swiper-pagination{
    position: relative !important;
}
.swiper-button-next,.swiper-button-prev{
    display: none !important;
}
.whatIsCoinsavvyContainer .whatIsCoinsavvyContent .sliderContainer .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.whatIsCoinsavvyContainer .whatIsCoinsavvyContent .sliderContainer .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.whatIsCoinsavvyContainer .whatIsCoinsavvyContent .descriptionContainer{
    height: auto;
    min-width: 400px;
    width: 45%;
}
.whatIsCoinsavvyContainer .whatIsCoinsavvyContent .descriptionContainer .title{
    font-size: 2.5rem;
    font-weight: 600;
}
.whatIsCoinsavvyContainer .whatIsCoinsavvyContent .descriptionContainer .description{
    margin-bottom: 5px;
    margin-top: 17px;
    font-weight: 400;
    font-size: 1.2rem;
    color: #949393;
}
.whatIsCoinsavvyContainer .whatIsCoinsavvyContent .descriptionContainer .subTitle{
    margin-top: 30px;
    display: flex;
}
.whatIsCoinsavvyContainer .whatIsCoinsavvyContent .descriptionContainer .subTitle img{
    height: 23px;
    margin-right: 10px;
    margin-top: 5px;
}
.whatIsCoinsavvyContainer .whatIsCoinsavvyContent .descriptionContainer .subTitle p{
    font-size: 1.5rem;
    font-weight: 600;
}
.whatIsCoinsavvyContainer .whatIsCoinsavvyContent .descriptionContainer .subTitleDescription{
    margin-top: 13px;
    font-size: 1.1rem;
    color: #949393;
}
.whatIsCoinsavvyContainer .whatIsCoinsavvyContent .descriptionContainer .btnContainer{
    margin-top: 30px;
    display: flex;
}
.whatIsCoinsavvyContainer .whatIsCoinsavvyContent .descriptionContainer button{
    padding: 12px 40px;
    background: #3772FF;
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}  
.whatIsCoinsavvyContainer .whatIsCoinsavvyContent .descriptionContainer button a{
    color: #ffff;
    font-size: 1rem;
    text-decoration: none;
}
.whatIsCoinsavvyContainer .whatIsCoinsavvyContent .descriptionContainer .gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0.6em;
    margin-top: -0.25em;
} 
.whatIsCoinsavvyContainer .whatIsCoinsavvyContent .descriptionContainer .label{
    position: relative;
    top: -1px;
}
.whatIsCoinsavvyContainer .whatIsCoinsavvyContent .descriptionContainer .transition{
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 500ms;
    background-color: rgba(16, 185, 129, 0.6);
    border-radius: 9999px;
    width: 0;
    height: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} 
.whatIsCoinsavvyContainer .whatIsCoinsavvyContent .descriptionContainer button:hover .transition{
    width: 14em;
    height: 14em;
}
.whatIsCoinsavvyContainer .whatIsCoinsavvyContent .descriptionContainer button:active{
    transform: scale(0.97);
}

/* Promotion Content */
.promotionContainer{
   padding-top: 70px;
}
.promotionContainer .promotionContent{
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 40px;
}
.promotionContainer .promotionContent .descriptionContainer{
    height: auto;
    min-width: 400px;
    width: 47%;
    margin-bottom: 50px;
}
.promotionContainer .promotionContent .descriptionContainer .title{
    font-size: 2.5rem;
    font-weight: 600;
}
.promotionContainer .promotionContent .descriptionContainer .description{
    margin-bottom: 5px;
    margin-top: 17px;
    font-weight: 400;
    font-size: 1.2rem;
    color: #949393;
}
.promotionContainer .promotionContent .descriptionContainer .subTitle{
    margin-top: 30px;
    display: flex;
}
.promotionContainer .promotionContent .descriptionContainer .subTitle img{
    height: 23px;
    margin-right: 10px;
    margin-top: 5px;
}
.promotionContainer .promotionContent .descriptionContainer .subTitle p{
    font-size: 1.5rem;
    font-weight: 600;
}
.promotionContainer .promotionContent .descriptionContainer .subTitleDescription{
    margin-top: 13px;
    font-size: 1.1rem;
    color: #949393;
}

.promotionContainer .promotionContent .sliderContainer{
    height: auto;
    max-width: 700px;
    min-width: 500px;
    width: 45%;
    display: flex;
    justify-content: flex-end;
}
.promotionContainer .promotionContent .sliderContainer img{
    width: 100%;
}




/*RESPONSIVE*/
@media screen and (max-width: 1201px) {
    .homePageContainer .container img{
        height: 400px;
    }
}
@media screen and (max-width: 1151px) {
    .homePageContainer .container img{
        height: 350px;
    }
    .howItWorksMainContainer .howItWorksContent .stepsContainer .divider{
        display: none;
    }
    .howItWorksMainContainer .howItWorksContent .stepsContainer{
        justify-content: center;
    }
    .howItWorksMainContainer .howItWorksContent .stepsContainer .box{
        margin: 20px;
        width: 45%;
        max-width: 450px;
    }


    .promotionContainer .promotionContent{
        flex-direction: column;
    }
    .promotionContainer .promotionContent .descriptionContainer{
        width: 100%;
        min-width: 0;
        margin-bottom: 20px;
    }
    .promotionContainer .promotionContent .sliderContainer{
        min-width: 0;
        max-width: none;
        width: 100%;
        justify-content: center;
    }
    .promotionContainer .promotionContent .sliderContainer img{
        width: 400px;
    }

    .promotionContainer .promotionContent .descriptionContainer .subTitleDescription{
        margin-left: 30px;
    }
}
@media screen and (max-width: 1051px) {
    .homePageContainer .container .heroDetails .title{
        font-size: 2.5rem;
    }

    .marketMainContent .marketContent .tableHeader .col5,
    .marketMainContent .marketContent .tableBody .row .col5{
        display: none;
    }

    .marketMainContent .marketContent .tableHeader .col4,
    .marketMainContent .marketContent .tableBody .row .col4{
        width: calc(20% - 40px);
    }

    .marketMainContent .marketContent .tableHeader .col7,
    .marketMainContent .marketContent .tableBody .row .col7{
        width: calc(20% - 40px);
    }

    .whatIsCoinsavvyContainer .whatIsCoinsavvyContent{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .whatIsCoinsavvyContainer .whatIsCoinsavvyContent .descriptionContainer{
        min-width: 0;
        width: 100%;
    }
    .whatIsCoinsavvyContainer .whatIsCoinsavvyContent .descriptionContainer p{
        margin: 0 20px;
        text-align: center;
    }
    .whatIsCoinsavvyContainer .whatIsCoinsavvyContent .descriptionContainer .subTitle{
        justify-content: center;
    }
    .whatIsCoinsavvyContainer .whatIsCoinsavvyContent .descriptionContainer .subTitle p{
        margin: 0;
    }
    .whatIsCoinsavvyContainer .whatIsCoinsavvyContent .descriptionContainer .btnContainer{
        justify-content: center;
    }
}
@media screen and (max-width: 1001px) {
    .homePageContainer{
        padding-bottom: 200px;;
    }
    .homePageContainer .container{
        flex-direction: column;
        justify-content: center;
    }
    .homePageContainer .container .heroDetails{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .homePageContainer .container .heroDetails p{
        text-align: center;
        margin: 0 20px;
    }
    .homePageContainer .container img{
        margin-top: 40px;
        height: auto;
        width: 400px;
    }
}
@media screen and (max-width: 889px) {
    .howItWorksMainContainer .howItWorksContent .stepsContainer .box{
        width: 100%;
        max-width: 700px;
    }
}
@media screen and (max-width: 851px) {
    .marketMainContent .marketContent .tableHeader .col6,
    .marketMainContent .marketContent .tableBody .row .col6{
        display: none;
    }

    .marketMainContent .marketContent .tableHeader .col1,
    .marketMainContent .marketContent .tableBody .row .col1{
        width: calc(10% - 40px);
    }
    .marketMainContent .marketContent .tableHeader .col2,
    .marketMainContent .marketContent .tableBody .row .col2{
        width: calc(10% - 40px);
    }
    .marketMainContent .marketContent .tableHeader .col3,
    .marketMainContent .marketContent .tableBody .row .col3{
        width: calc(30% - 40px);
    }
    .marketMainContent .marketContent .tableHeader .col4,
    .marketMainContent .marketContent .tableBody .row .col4{
        width: calc(25% - 40px);
    }
    .marketMainContent .marketContent .tableHeader .col7,
    .marketMainContent .marketContent .tableBody .row .col7{
        width: calc(25% - 40px);
    }   
}

@media screen and (max-width: 671px) {
    .marketMainContent .marketContent .tableHeader .col7,
    .marketMainContent .marketContent .tableBody .row .col7{
        display: none;
    }   
    .marketMainContent .marketContent .tableHeader .col3,
    .marketMainContent .marketContent .tableBody .row .col3{
        width: calc(50% - 40px);
    }
    .marketMainContent .marketContent .tableHeader .col4,
    .marketMainContent .marketContent .tableBody .row .col4{
        width: calc(30% - 40px);
    } 

    .howItWorksMainContainer .howItWorksContent .stepsContainer .box{
        width: 100%;
        max-width: 700px;
    }
}

@media screen and (max-width: 551px) {
    .homePageContainer{
        padding-top: 70px;
    }
    .homePageContainer .container img{
        width: 70%;
    }

    .marketMainContent .marketContent .tableHeader .col4,
    .marketMainContent .marketContent .tableBody .row .col4{
        display: none;
    } 
    .marketMainContent .marketContent .tableHeader .col1,
    .marketMainContent .marketContent .tableBody .row .col1{
        width: calc(15% - 40px);
    }
    .marketMainContent .marketContent .tableHeader .col2,
    .marketMainContent .marketContent .tableBody .row .col2{
        width: calc(15% - 40px);
    }
    .marketMainContent .marketContent .tableHeader .col3,
    .marketMainContent .marketContent .tableBody .row .col3{
        width: calc(70% - 40px);
    }

    .whatIsCoinsavvyContainer .whatIsCoinsavvyContent .descriptionContainer .title,
    .promotionContainer .promotionContent .descriptionContainer .title{
        font-size: 2rem;
        text-align: left;
    }
    .whatIsCoinsavvyContainer .whatIsCoinsavvyContent .descriptionContainer .description{
        text-align: left;
    }

    .whatIsCoinsavvyContainer .whatIsCoinsavvyContent .descriptionContainer .subTitle{
        margin: 0 auto;
        margin-top: 30px;
    }
    .whatIsCoinsavvyContainer .whatIsCoinsavvyContent .descriptionContainer .subTitle p{
        text-align: left;
    }
    .whatIsCoinsavvyContainer .whatIsCoinsavvyContent .descriptionContainer .subTitleDescription{
        text-align: left;
        margin-left: 30px;
    }
    .whatIsCoinsavvyContainer .whatIsCoinsavvyContent .sliderContainer{
        max-width: 100%;
        min-width: 100%;
        width: 100%;
    }
    .whatIsCoinsavvyContainer .whatIsCoinsavvyContent .descriptionContainer .btnContainer{
        margin-left: 30px;
        margin-right: 30px;
    }
    .whatIsCoinsavvyContainer .whatIsCoinsavvyContent .descriptionContainer .btnContainer button{
        width: 100%;
    }
    .promotionContainer .promotionContent .descriptionContainer{
        margin-bottom: 0;
    }
    .promotionContainer .promotionContent .sliderContainer{
        min-width: 0;
    }
    .promotionContainer .promotionContent .sliderContainer img{
        width: 80%;
    }
    .marketMainContent .marketContent .tableBody .row .col3 .nameDetails p span{
        margin-left: 0;
    }

}
@media screen and (max-width: 401px) {
    .homePageContainer .container .heroDetails .title,
    .marketMainContent .marketContent .headerContainer .title,
    .howItWorksMainContainer .howItWorksContent .title{
        font-size: 2rem;
    }
}
@media screen and (max-width: 301px) {
    .marketMainContent .marketContent .tableBody .row .col3 .nameDetails span{
        display: none;
    }
}
